    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(white, #D3D8E8);
    }
    
    .header {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: auto;
        height: 100px;
        background-color: #4267B2;
        color: white;
    }
    
    h1 {
        padding-left: 175px;
        font-family: inherit;
        font-size: 40px;
    }
    
    .forms {
        display: inline-block;
        position: relative;
        bottom: 80px;
        padding-right: 150px;
        float: right;
        margin: 0 auto;
        font-size: 13px;
    }
    
    .forms button {
        padding: 3px 4px;
        background-color: #4267b2;
        color: white;
        border-color: #29487d;
        border-radius: 1px;
    }
    
    .connect {
        font-weight: bold;
        float: left;
        font-size: 20px;
        padding-left: 100px;
        color: #0e385f;
    }
    
    .content {
        font-family: inherit;
        position: relative;
        float: right;
        padding-left: 780px;
        transform: translateY(-280px);
        color: #333;
    }
    
    .content h2 {
        font-size: 35px;
        padding: 0px;
    }
    
    .content h4 {
        font-size: 20px;
        font-weight: lighter;
    }
    
    .content input {
        height: 30px;
        border-radius: 5px;
        border: transparent;
        padding: 3px;
    }
    
    .content .set {
        width: 60%;
    }
    
    .options {
        text-align: left;
        padding-top: 20px;
    }
    
    .options label {
        display: block;
        padding: 0.7rem 0;
        font-weight: bold;
        color: gray;
    }
    
    .gender {
        padding-right: 10px;
        padding-top: 20px;
    }
    
    .gender .bg {
        height: auto;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .gender button {
        padding: 8px 40px;
        background-color: #5D9149;
        color: white;
        border: none;
        border-radius: 7px;
        width: 35%;
    }
    
    .gender p {
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
    }
    
    .gender label {
        display: block;
        padding: 0.7rem 0;
        font-weight: bold;
        color: gray;
    }
    
    .para-link {
        text-decoration: none;
        list-style: none;
    }
    
    .para-link:hover {
        text-decoration: underline;
    }
    
    .forms .forget-link {
        text-decoration: none;
        color: #fff;
    }
    
    .forms .forget-link:hover {
        text-decoration: underline;
    }